<!--Footer-->
<footer class="grid">

    <!--Spacer-->
    <section class="footer-section"></section>

    <!--Github-->
    <section class="footer-section">
        <b>Source code</b>
        <br />
        <a href="https://github.com/samfromlv/gdrive-copy" target="_blank">Github</a>
    </section>

    <section class="footer-section">
        If you'd like to show your support in the form
        of monetary contribution, please consider giving to
        <a href="https://www.paypal.com/donate/?business=MSLDZBZ8YLYJN&amp;no_recurring=0&amp;currency_code=EUR" target="_blank">Donate</a>.
    </section>

    <section class="footer-section">
        <b>Questions?</b>
        <br /> Please look at the FAQ
    </section>

    <!--Spacer-->
    <section class="footer-section"></section>

</footer>